body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100vh;
}

.header {
  grid-row: 1;
  grid-column: 1 / -1;
  min-height: 128px;
  padding: 8px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sidebar {
  grid-row: 2;
  grid-column: 1;
  background-color: #8cc7b5;
}

.content {
  grid-row: 2;
  grid-column: 2;
  background-color: #d1ba74;
}

.second-sidebar {
  grid-row: 2;
  grid-column: 3;
  background-color: #bee7e9;
}

.auth-page {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.area-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.area-item {
  width: 100px;
  height: 100px;
  background-color: #bee7e9;
}

.inventory-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.inventory-item {
  width: 100px;
  height: 100px;
  background-color: #bee7e9;
}

/* modal */
.modal-box {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.modal-background {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

.modal-content {
  position: absolute;

  border-radius: 4px;

  min-width: 300px;
  max-width: 98%;
  min-height: 100px;
  max-height: 98%;
  padding: 10px;

  background-color: white;
  box-shadow: 0 0 4px 4px hsla(0, 0%, 81.6%, 0.2823529412);

  font-size: 14px;
  font-weight: 400;
  overflow: auto;

  display: flex;
  flex-direction: column;
}
